<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bucket List{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <link rel="icon" href="{{ asset('img/favicon.png') }}">
        <link href="https://fonts.googleapis.com/css2?family=Halant&display=swap" rel="stylesheet">

    </head>
    <body>

    <header>
        <img src="{{ asset('img/logo.png') }}">
        <h1>Bucket List</h1>
        <nav>
            <ul>
                <li><a href="{{ path('home') }}">Home</a></li>
                <li><a href="{{ path('about') }}" >About Us</a></li>
                <li><a href="{{ path('list') }}">Ideas</a></li>
            </ul>
        </nav>
    </header>
    <main>{% block main %}{% endblock %}</main>
    <footer>
        &copy; {{ "now" | date("Y") }} Bucket List
       <p> By Fabián Alexis (https://github.com/fabianalexisinostroza/Antu) [<a
                href="https://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a>], <a
                href="https://commons.wikimedia.org/wiki/File%3AAntu_color-fill.svg">via Wikimedia
            Commons</a></p>
    </footer>


 

    {% block javascripts %}{% endblock %}
    </body>
</html>
